[alias]
    alias = ! git config --list | sed -n 's/^alias.//p'
    st = status | more
    ci = commit
    ciam = commit --amend
    st = status
    cia = commit -a
    co = checkout
    cp = cherry-pick
    tree = log --graph
    lg = log --name-status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
    lstags = describe --tags
    b = branch
    bhlp = branch --help
    ba = branch -a
    ls = ls-tree -r master
    rebasei = rebase --interactive
    rbi = rebase --interactive
    mkb = !sh -c 'git checkout --track -b $1 origin/$1' -
    diffs=diff --name-only
    sm= submodule
    ap=add -p
    dc= diff --cached
    edit = "!vim `git ls-files -m` -p"
    usprint = "! git fetch && git merge `git b -a | grep sprint | tail -1 | sed 's/remotes\\///' $1`"
	last = log -1 --stat
	cl = clone
	unstage = reset HEAD --
    lt = describe --tags `git rev-list --tags --max-count=1`

[diff]
    ignoreSubmodules = untracked

[core]
	editor = vim
	filemode = false
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = gvimdiff
[grep]
    linenumber = True
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false

[push]
	default = simple

[user]
        name = Akenaide
        email = kevinms1@gmail.com

[include]
    path = ~/.gitconfig.local
