.config/fish/functions/__bass.py
.config/fish/functions/bass.fish
.config/fish/conf.d/z.fish
.config/fish/functions/__z.fish
.config/fish/functions/__z_add.fish
.config/fish/functions/__z_complete.fish
.config/fish/functions/__zo.fish
.config/fish/functions/copy-bass.fish
.config/fish/functions/getopts.fish
.config/fish/functions/z.awk
.config/fish/functions/zadd.awk
